 body{
 background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1708/Twilight_Samsung_Galaxy_Note_8-2017_Abstract_Wallpaper_1366x768.jpg");
}
 h1, .logo{
 position: absolute;
 max-width: 100%;
 max-height: 100%;
 left: 29px;
 top: 10px; 
 height: 90px;
 width: 75px;
}

 .rectangulo{
 position: absolute;
 height: 550px;
 left: 950px;
 top: 60px;
 border-radius: 20px;
}

 .imagen{
 position: absolute;
 left: 958px;
 top: 63px;
}
    
 .copiar{
 position: absolute;
 height: 37px;
 width: 100px;
 left: 1090px;   
 top: 560px;
 font-size: 30px;
 line-height: 19px;
 color: mediumorchid;
 background-color: #ffffff;
 border-color: lightcoral;
 border-radius: 10px;
}

 .desencriptar{
 position: absolute;
 left: 450px;
 top: 560px;  
 width: 200px;
 height: 35px;
 font-family: 'Times New Roman', Times, serif;
 font-style: normal;
 font-weight: 19px;
 font-size: 30px;
 line-height: 19px;
 color: mediumorchid;
 background-color: #ffffff;
 border-color: lightcoral;
 border-radius: 10px;
}
.encriptar{
 position: absolute;
 left: 200px;
 top: 560px;  
 width: 200px;
 height: 35px;
 font-family: 'Times New Roman', Times, serif;
 font-style: normal;
 font-weight: 19px;
 font-size: 30px;
 line-height: 19px;
 color: mediumorchid;
 background-color: #ffffff;
 border-color: lightcoral;
 border-radius: 10px; 
}
 .texto-derecho{
 position: absolute;
 left: 999px; 
 top: 80px;    
 font-size: 20px;
 visibility: hidden;
}    

 .texto-desencriptar{
 position: absolute;
 left: 999px; 
 top: 100px;  
 padding: 20px;
 width: 250px;
 height:20px;
 border-color: pink;
 visibility: hidden;
}

 .texto-izquierdo{
 position: absolute;
 left: 250px; 
 top: 80px;  
 font-size: 20px;
}

 .texto-encriptar{
 position: absolute;
 left: 250px;
 top: 100px;
 padding: 20px;
 width: 250px;
 height:20px;
 border-color: pink;
 }

 p{
 position: absolute;
 left: 398px;
 font-style: oblique;
 color: blanchedalmond;
 }

